.fullscreen {
    min-height: 100vh;
    background-color: $c_dark_4;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        position: relative;
    }

    &__inner {
        padding: rem(120) 0;
    }

    &__label {
        @extend %label;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15);
        }
    }

    &__title {
        @extend %h1;
        span {
            opacity: 0.7;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 25);
        }
    }

    &__text {
        @extend %text;
        max-width: rem(768);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }

    &__btn {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__scroll {
        width: rem(20);
        height: rem(30);
        border: rem(2) solid $c_primary;
        border-radius: rem(25);
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: rem(60);
        transform: translate(-50%, 0px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: border 0.3s ease 0s;
        &::before {
            content: "";
            width: rem(3);
            height: rem(6);
            border-radius: rem(2);
            background-color: $c_primary;
            transition: background-color 0.3s ease 0s;
            animation: scroll 1.5s infinite ease;
        }
        @media (any-hover: hover) {
            &:hover {
                border: rem(2) solid $c_white;
                &::before {
                    background-color: $c_white;
                }
            }
        }
    }
    @keyframes scroll {
        0% {
            transform: translateY(rem(-3));
        }
        50% {
            transform: translateY(rem(3));
        }
        100% {
            transform: translateY(rem(-3));
        }
    }
}

//========================================================================================================================================================

.about {
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 60, 30);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $c_dark_5;
    }
    &::after {
        content: "";
        position: absolute;
        width: 10%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $c_dark_7;
    }
    &__container {
        position: relative;
        z-index: 2;
    }

    &__top {
        margin-bottom: rem(20);
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(40);
    }

    &__content {
        p {
            @extend %text;
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }

    &__image-ibg {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: rem(200);
            bottom: rem(-10);
            right: rem(-10);
            background-color: $c_primary;
            z-index: -1;
        }
    }
}

//========================================================================================================================================================

.skills {
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 60, 30);
    &__container {
    }

    &__top {
        margin-bottom: rem(20);
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: rem(40);
    }

    &__column {
        text-align: center;
    }

    &__subtitle {
        @extend %text;
        color: $c_white;
        margin-bottom: rem(20);
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(10) rem(10);
    }

    &__item {
        @extend %text;
        color: $c_primary;
        &:not(:last-child) {
            &::after {
                content: "/";
                margin-left: rem(10);
                color: $c_dark_4;
            }
        }
    }
}

//========================================================================================================================================================

.recent {
    @include adaptiveValue("padding-top", 100, 60);
    @include adaptiveValue("padding-bottom", 100, 60);
    &__container {
    }

    &__top {
        margin-bottom: rem(40);
    }

    &__body {
        margin-bottom: rem(40);
    }

    &__item {
    }

    &__btn {
    }
}

.item-recent {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    &__info {
        padding: rem(30) 0;
        position: relative;
        z-index: 2;
    }

    &__date {
        @extend %label;
        margin-bottom: rem(10);
    }

    &__title {
        @extend %h1;
        font-size: rem(36);
        margin-bottom: rem(30);
    }

    &__description {
        @extend %text;
        padding: rem(20);
        background-color: $c_dark_5;
        margin-bottom: rem(30);
        box-shadow: 0 rem(10) rem(30) rem(-15) $c_dark_5;
        margin-right: rem(-100);
    }

    &__stack {
        display: flex;
        align-items: center;
        gap: rem(20);
        margin-bottom: rem(30);
    }

    &__links {
        display: flex;
        align-items: center;
        gap: rem(40);
    }

    &__link {
        transition: color 0.3s ease 0s;
        font-size: rem(20);
        @media (any-hover: hover) {
            &:hover {
                color: $c_primary;
            }
        }
    }

    &__img-ibg {
        position: relative;
        box-shadow: 0 rem(20) rem(30) rem(-15) transparent;
        transition: box-shadow 0.3s ease 0s;
        img {
            transition: filter 0.3s ease 0s;
            filter: grayscale(1);
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $c_primary;
            transition: opacity 0.3s ease 0s;
            opacity: 0.5;
        }
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 rem(20) rem(30) rem(-15) $c_dark_4;
                img {
                    filter: grayscale(0);
                }
                &::after {
                    opacity: 0;
                }
            }
        }
    }
}
