// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

//========================================================================================================================================================

%label {
    color: $c_primary;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: math.div(20, 14);
    @include adaptiveValue("font-size", 14, 12);
}

%h1 {
    @include adaptiveValue("font-size", 72, 34);
    font-weight: 800;
    line-height: math.div(85, 72);
}

%text {
    color: $c_dark_1;
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    line-height: math.div(30, 22);
}

%btn {
    letter-spacing: rem(1);
    text-transform: uppercase;
    font-weight: 800;
    font-size: rem(16);
}

// Стили попапов
// @import "base/popup";

// Стили блока "показать еще"
// @import "base/showmore";

// Стили для полноэкранного блока
// @import "base/fullscreen";

// Стили для липкого блока
// @import "base/sticky";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*="-ibg_contain"] {
    img {
        object-fit: contain;
    }
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
    list-style-type: none;
    counter-reset: item;
    li {
        position: relative;
        &:before {
            counter-increment: item;
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
