@import "base/button";
@import "base/popup";
@import "base/swiper";

//========================================================================================================================================================

%label {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    line-height: math.div(20, 14);
    @include adaptiveValue("font-size", 14, 12);
}

%title {
    @include adaptiveValue("font-size", 72, 32);
    font-weight: 800;
    line-height: math.div(85, 72);
}

%title_2 {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 28);
    line-height: math.div(40, 36);
}

%title_3 {
    font-weight: 500;
    @include adaptiveValue("font-size", 28, 24);
    line-height: math.div(32, 28);
}

%text_1 {
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    line-height: math.div(30, 22);
}

%text_2 {
    @extend %text_1;
    font-weight: 800;
}

%text_3 {
    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(25, 16);
}

%btn {
    letter-spacing: rem(1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(16);
}

%tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: rem(30);
    padding: 0px rem(10);
    background-color: $c_primary;
    border-radius: rem(5);
    color: $c_dark_5;
}

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

[data-fullscreen] {
    min-height: 100vh;
    .touch & {
        min-height: calc(var(--vh, 1vh) * 100);
        @media (max-width: $mobile) {
            transition: min-height 0.2s;
        }
    }
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
