.logo {
    display: inline-flex;
    align-items: center;
    gap: rem(7);
    &::before {
        color: $c_primary;
        font-size: rem(60);
    }
    &__text {
        transform: translate(0px, rem(-3));
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__top {
        @extend %text;
        color: $c_primary;
        display: block;
        margin-bottom: rem(2);
    }
    &__bottom {
        font-size: rem(14);
    }
}

//========================================================================================================================================================

.top {
    display: flex;
    align-items: center;
    gap: rem(20);
    &__title {
        @extend %h1;
    }

    &__line {
        flex: 1 1 auto;
        height: rem(2);
        background-color: $c_primary;
    }
}

//========================================================================================================================================================

.socials {
    position: fixed;
    bottom: 0;
    left: rem(45);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);
    font-size: rem(30);
    width: rem(30);
    z-index: 10;
    &::after {
        content: "";
        width: rem(2);
        height: rem(150);
        background-color: $c_white;
        margin-top: rem(10);
    }
    &__item {
        color: $c_white;
        transition: color 0.3s ease 0s, transform 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c_primary;
                transform: translate(0px, rem(-5));
            }
        }
    }
}

.email {
    position: fixed;
    bottom: 0;
    right: rem(45);
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    gap: rem(25);
    font-weight: 500;
    font-size: rem(18);
    z-index: 10;
    &::after {
        content: "";
        width: rem(2);
        height: rem(150);
        background-color: $c_white;
        margin-top: rem(10);
    }
    &__item {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c_primary;
            }
        }
    }
}

//========================================================================================================================================================

.page404 {
    @include adaptiveValue("padding-top", 144, 60, 1170, 600.98, 1);
    @include adaptiveValue("padding-bottom", 144, 100, 1170, 600.98, 1);
    text-align: center;

    &__container {
    }

    &__title {
        @extend %h1;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__label {
        @extend %text;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__button {
        min-width: rem(160);
        min-height: rem(56);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.spinner {
    text-align: center;
    margin: rem(100) auto;
    @include adaptiveValue("width", 400, 150, 991.98, 479.98, 1);
    @include adaptiveValue("heigth", 300, 150, 991.98, 479.98, 1);
    max-width: 60%;
    svg {
        max-width: 100%;
        circle {
            fill: $mainColor;
        }
    }
}
