.logo {
    display: inline-flex;
    align-items: center;
    gap: rem(7);
    &::before {
        color: $c_primary;
        font-size: rem(50);
    }
    &__text {
        transform: translate(0px, rem(-3));
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__top {
        @extend %text_1;
        color: $c_primary;
        display: block;
        margin-bottom: rem(2);
    }
    &__bottom {
        font-size: rem(14);
    }
}

//========================================================================================================================================================

.top {
    display: flex;
    align-items: center;
    gap: rem(20);
    @include adaptiveValue("margin-bottom", 50, 30);
    &__title {
        @extend %title;
    }

    &__line {
        flex: 1 1 auto;
        height: rem(2);
        background-color: $c_primary;
    }
}

//========================================================================================================================================================

.socials {
    display: flex;
    align-items: center;
    gap: rem(20);
    font-size: rem(25);
    @media (max-width: em(1200)) {
        left: rem(20) !important;
    }
    @media (min-width: $mobile) {
        flex-direction: column;
        z-index: 10;
        position: fixed;
        left: rem(45);
        bottom: 0;
        width: rem(25);
        &::after {
            content: "";
            width: rem(2);
            height: 10vh;
            background-color: $c_white;
        }
    }
    @media (max-width: $mobile) {
        margin-bottom: rem(30);
    }
    @media (min-width: $mobile) and (max-height: $mobileSmall) {
        display: none;
    }
    &__item {
        color: $c_white;
        transition: color 0.3s ease 0s, transform 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c_primary;
                transform: translate(0px, rem(-5));
            }
        }
    }
}

.email {
    position: fixed;
    bottom: 0;
    right: rem(45);
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    gap: rem(25);
    font-size: rem(16);
    letter-spacing: em(1.9);
    z-index: 10;
    &::after {
        content: "";
        width: rem(2);
        height: 10vh;
        background-color: $c_white;
    }
    @media (max-width: em(1200)) {
        right: rem(20);
    }
    @media (max-width: $mobile) or (max-height: $mobileSmall) {
        display: none;
    }
    &__item {
        transition: color 0.3s ease 0s, transform 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: translate(0px, rem(-5));
                color: $c_primary;
            }
        }
    }
}

//========================================================================================================================================================

.page404 {
    @include adaptiveValue("padding-top", 144, 60, 1170, 600.98, 1);
    @include adaptiveValue("padding-bottom", 144, 100, 1170, 600.98, 1);
    text-align: center;

    &__container {
    }

    &__title {
        @extend %title;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__label {
        @extend %text_1;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__button {
        min-width: rem(160);
        min-height: rem(56);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.spinner {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    background-color: #191919;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
