@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Helvetica";
$fontSize: rem(16);

// Основные цвета
$c_primary: #f68338;
$c_white: #fff;
$c_black: #000;
$c_dark_1: #ccc;
$c_dark_2: #666;
$c_dark_3: #5e646a;
$c_dark_4: #383838;
$c_dark_5: #292929;
$c_dark_6: #262627;
$c_dark_7: #313131;
$c_light_1: #f9f9f9;
$c_light_2: #f8f8f8;
$c_light_3: #f2f2f2;
$mainColor: $c_white; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 992;
// Общий отступ у контейнера
$containerPadding: 200;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    @include scrollbars(rem(12), $c_primary, $c_dark_5);
    background-color: $c_dark_4;
    // Скролл заблокирован

    ._lock &,
    &:has(.wrapper-enter-active) {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    ._loaded & {
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    @media (max-width: $mobile) {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
            transition: backdrop-filter 0.3s ease 0.5s, opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s;
            opacity: 0;
            visibility: hidden;
            .menu-open & {
                visibility: visible;
                opacity: 1;
                transition: backdrop-filter 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
                backdrop-filter: blur(rem(6));
                -webkit-backdrop-filter: blur(rem(6));
            }
        }
    }
    &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 150;
        transition: backdrop-filter 0.3s ease 0.3s, opacity 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
        pointer-events: none;
        .popup-open & {
            transition: backdrop-filter 0.3s ease 0s, opacity 0.3s ease 0s, opacity 0.3s ease 0s;
            backdrop-filter: blur(rem(6));
            -webkit-backdrop-filter: blur(rem(6));
        }
    }
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}

.page {
    position: relative;
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

// Отзывчивая
[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($containerPadding>0) {
        padding: 0 rem(75);
        @media (max-width: $mobile) {
            padding: 0 rem(20);
        }
        @media (min-width: $mobile) and (max-height: $mobileSmall) {
            padding: 0 rem(20);
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение анимаций
@import "animations";
